<div id="<%= dom_id publication %>">

    <h1><%= publication.title %></h1>

  <p class="my-4"><%= publication.description %></p>
  
  <div id="images-section" class="mb-5">
    <% publication.images.each do |u| %>
      <%= image_tag u, class:"d-block mb-3" %>
    <%end%>
  </div>

  <p class="fst-italic">
    Por: <%= publication.user.username %>
  </p>


</div>
