<p style="color: green"><%= notice %></p>

<%= render @publication %>
<div>
  <%= link_to "Back to posts", publications_path %>
  <% if user_signed_in? %>
  <% if current_user.id == @publication.user_id %>
  <%= link_to "Edit this post", edit_publication_path(@publication) %> |
  <%= button_to "Destroy this post", @publication, method: :delete %>
  <% end %>
  <% end %>
  </div>
